<div class="page-div">
    <div class="text-box">
        <h2>About Me</h2>
        <p class="about-paragraph-body">Hi, my name is Nate; thanks for checking out my website! I was born and raised in North Carolina
            and am now attending college here as a senior at UNC Chapel Hill. When I'm not in school or doing work, I still find myself quite
            busy balancing many interests. I have a passion for language learning and cultural exchange, and study Japanese on the daily. I also
            love music, and have been playing guitar for many years! I have released several songs and play in the Raleigh-Durham area in multiple
            bands, occasionally hopping on to play for different artists.
        </p>
        <p class="about-paragraph-body">
            Whether you're interested in my work, or you just have similar interests and want to chat, feel free to reach out! You can 
            reach me by email at natehicks04&#64;gmail.com, or by checking out any of the links on the Home page. Thanks for coming around!
        </p>
    </div>
    <div class="image-crop-wrapper">
        <img src="assets/code-picture.jpg" class="banner-pic" />
    </div>
</div>