<!--<h1>🏠 Welcome to the Home Page</h1>
<p>This is your standalone Angular app. It works!</p>-->
<div class="about-container">
    <div class="image-wrapper">
        <img src="assets/headshot.jpg" alt="Headshot" class="profile-pic"/>
    </div>
    <div class="about-text">
        <h2>Hello, I'm Nate!</h2>
        <p class="about-paragraph-body">I'm a senior at UNC Chapel Hill double majoring in Computer Science and Japanese. I am passionate about combining my skills to improve people's
            lives and communications. Check out my GitHub, LinkedIn, and resume below to see my projects, coursework, and experience.
            If you'd like to know more about me, feel free to visit my about page!
        </p>
        <div class="social-btns">
            <a href="https://github.com/hicksnat" target="_blank" class="github-btn">
            <img src="assets/github-logo.svg" alt="GitHub" style="width: 64px; height: 64px;">
            </a>
            <a href="https://www.linkedin.com/in/nate-hicks-718531331/" target="_blank" class="linkedin-btn">
            <img src="assets/linkedin-logo.svg" alt="LinkedIn" style="width: 64px; height: 64px;">
            </a>
            <a href="assets/HicksNateJuniorResume.pdf" target="_blank" class="resume-btn">
            <img src="assets/resume-logo.svg" alt="Resume" style="width: 64px; height: 64px;">
            </a>
        </div>
    </div>

</div>
<div class="bottom-corner-circle"></div>
<div class="top-corner-circle"></div>